<div id="main">
  <h1 class="sono-alberto-e-faccio" ><%=@work.title %></h1>
  <h3 class="bio"><%=@work.description %></h3>



  <div id="thumbnails">
    <ul id="rig"  class="clearfix">
      <% @work.images.each do |image|%>
        <li>
          <img  class="rig-img thumbnail<%=image.id%>" src="<%= image.image.url(:thumb) %>"/>
        </li>
        <div class="overlay_photo" id="id_overlay<%=image.id%>" style="display:none">
        </div>
        <img class="photo_open" id="id_image<%=image.id%>" style="display:none" src="<%= image.image.url(:medium) %>"/>
      <script>
          $(document).ready(function() {
              $('.thumbnail<%=image.id%>').click(function() {
                  document.getElementById("id_image<%=image.id%>").style.display = "block";
              });
              $('.thumbnail<%=image.id%>').click(function() {
                  document.getElementById("id_overlay<%=image.id%>").style.display = "block";
              });
              $('.overlay_photo').click(function() {
                  document.getElementById("id_image<%=image.id%>").style.display = "none";
              });
              $('.overlay_photo').click(function() {
                  document.getElementById("id_overlay<%=image.id%>").style.display = "none";
              });
          });
      </script>
      <%end %>
    </ul>
  </div>
</div>
