<div id="main">
  <h1 class="sono-alberto-e-faccio" ><%=@work.title %></h1>
  <h3 class="bio"><%=@work.description %></h3>



  <div id="thumbnails">
    <ul id="rig"  class="clearfix">
      <% @work.images.each do |image|%>
        <li>
          <a class="rig-cell" href="<%= image.image.url(:medium) %>" data-lightbox="<%= image.image_file_name %>" data-title="My caption">
            <img  class="rig-img" src="<%= image.image.url(:thumb) %>"/>
          </a>
        </li>
      <%end %>
    </ul>
  </div>
</div>
